.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_container {
  padding: 20px;
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-template-rows: 460px;
  gap: 20px;
}
